# Dependencies
node_modules

# Build
dist
dist-ssr
dev-dist

# Env & local
.env
.env.*
*.local

# Logs
logs
*.log

# Cache
.cache
*.tsbuildinfo

# Editor
.vscode
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
