# Dependencies
node_modules

# Build
dist
dist-ssr
dev-dist
build

# Env & local
.env
.env.*
*.local

# Logs
logs
*.log

# Cache
.cache
*.tsbuildinfo

# Editor
.vscode
.idea

# Lockfiles
pnpm-lock.yaml
package-lock.json
yarn.lock

# Assets
public

# VCS
.git
