@import 'tailwindcss';

@layer base {
  *:focus-visible {
    @apply outline-primary;
  }
}

@theme {
  --font-sans: 'Inter', 'Noto Sans SC', sans-serif;
  --font-display: 'Tektur', 'Inter', 'Noto Sans SC', sans-serif;

  --color-primary: #ff5a00;
  --color-primary-hover: #e04f00;
  --color-primary-light: #fff0e6;

  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #b3b3b3;
  --color-gray-400: #888888;
  --color-gray-500: #666666;
  --color-gray-600: #484848;
  --color-gray-700: #333333;
  --color-gray-800: #252526;
  --color-gray-900: #1e1e1e;

  --ease-emphasized: cubic-bezier(0.25, 1, 0.5, 1);
  --ease-shake: cubic-bezier(0.36, 0.07, 0.19, 0.97);
  --ease-wave: cubic-bezier(0.55, 0.5, 0.45, 0.5);

  --animate-shake: shake 0.2s var(--ease-shake) both;
  --animate-wave-1: move-forever 7s var(--ease-wave) -2s infinite;
  --animate-wave-2: move-forever 10s var(--ease-wave) -3s infinite;
  --animate-wave-3: move-forever 13s var(--ease-wave) -4s infinite;
  --animate-wave-4: move-forever 20s var(--ease-wave) -5s infinite;
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hoverable (@media (hover: hover));
@custom-variant paused-animations (.paused-animations &);

::-webkit-scrollbar {
  @apply w-2;

  &-track {
    @apply bg-gray-100 dark:bg-gray-900;
  }
  &-thumb {
    @apply bg-primary rounded;

    &:hover {
      @apply bg-primary-hover;
    }
  }
}

:root {
  color-scheme: light;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) light-dark(var(--color-gray-100), var(--color-gray-900));

  &.dark {
    color-scheme: dark;
  }
}

@keyframes move-forever {
  0% {
    translate: -90px;
  }
  100% {
    translate: 85px;
  }
}

@keyframes shake {
  0%,
  100% {
    translate: 0;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    translate: -2px;
  }
  20%,
  40%,
  60%,
  80% {
    translate: 2px;
  }
}
